PORT=4000
NODE_ENV=production
MONGODB_URI=mongodb+srv://nagbhushanadiga_db_user:Bhushan%40123@cluster0.wxfhmc2.mongodb.net/billing?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=868fc5a3a08bbeaf1b553868bdf84634c41cc12289edbd7bb2438c6d723df424
JWT_EXPIRES_IN=7d
# Add your frontend Vercel URL here after you deploy the frontend
CORS_ORIGIN=http://localhost:5173
INITIAL_ADMIN_USERNAME=naga
INITIAL_ADMIN_PASSWORD=12345
INITIAL_ADMIN_NAME=Naga
